:root {
    /*------------------------------------------------
        SECTION: Системные акцентные цвета (синие)
     ------------------------------------------------*/
    --accent-900: #021831;
    --accent-800: #043062;
    --accent-700: rgba(6, 51, 109, 0.9);
    --accent-600: rgba(8, 70, 151, 0.9);
    --accent-primary: #0F5ABD;
    --accent-400: #6F9CD7;
    --accent-300: #A2C6EE;
    --accent-200: hsl(212, 62%, 88%);
    --accent-100: #EAF2FD;

    --accent-200-40-p: hsla(212, 62%, 88%, 0.4)
}