// Main application styles
@use 'vars/sizes' as sizes;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  line-height: 1.6;
}

#App{
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


/* App Container */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

/* Main Content */
.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
  min-height: calc(100vh - var(--header-height));
}

/* Content */
.content {
  height: 100%;
  flex-grow: 1;
  padding: sizes.$spacing-s sizes.$spacing-lg ;
  transition: var(--transition);
}

.category-header {
  height: sizes.$category-header-height;
  margin-bottom: sizes.$spacing-lg;
}

.category-header h1 {
  font-size: sizes.$font-size-3xl;
  margin-bottom: sizes.$spacing-s;
  color: var(--color-text-primary);
}

.component-count {
  color: var(--color-secondary);
  font-size: sizes.$font-size-md;
}


/* Responsive App Design */
@media (max-width: sizes.$adaptive-mobile) {
  .sidebar {
    display: none!important;
  }

  .content {
    margin-left: 0;
  }

  .main-content {
    flex-direction: column;
  }
}
