@mixin apply-theme($theme) {
  --full-white: map-get($theme, full-white);
  --color-primary: map-get($theme, color-primary);
  --color-primary-hover: map-get($theme, color-primary-hover);
  --color-secondary: map-get($theme, color-secondary);
  --color-secondary-hover: map-get($theme, color-secondary-hover);
  --color-accent: map-get($theme, color-accent);
  --color-accent-hover: map-get($theme, color-accent-hover);

  --color-text-primary: map-get($theme, color-text-primary);
  --color-text-secondary: map-get($theme, color-text-secondary);
  --color-text-tertiary: map-get($theme, color-text-tertiary);
  --color-text-inverse: map-get($theme, color-text-inverse);

  --color-bg-primary: map-get($theme, color-bg-primary);
  --color-bg-secondary: map-get($theme, color-bg-secondary);
  --color-bg-tertiary: map-get($theme, color-bg-tertiary);
  --color-bg-accent: map-get($theme, color-bg-accent);

  --color-border: map-get($theme, color-border);
  --color-border-light: map-get($theme, color-border-light);
  --color-border-dark: map-get($theme, color-border-dark);
}
