/* Buttons */
@use '../styles/colors' as colors;
@use '../styles/fonts' as fonts;
@use '../styles/sizes' as sizes;

// TODO: Добавить disabled класс

// Button Size classes
.bt {
    &.sm {
        font-size: var(--sm-btn-font-size);
    }
}

.bt {
    font-family: fonts.$bt-default-font;
    font-weight: fonts.$bt-default-font-weight;
    color: colors.$main-text-color;
    font-size: fonts.$font-size-sm;

    &:hover {
       outline: none;
    }

    &-text {
        z-index: 1;
        height: sizes.$btn-text-height;
        cursor: pointer;
        border: none;
        background: none;

        &.primary {
            &:hover {
                border-bottom: 2px solid colors.$color-primary;
            }
        }

        &.secondary {
            &:hover {
                border-bottom: 2px solid colors.$color-secondary;
            }
        }

        &.success {
            &:hover {
                border-bottom: 2px solid colors.$success-color;
            }
        }

        &.warning {
            &:hover {
                border-bottom: 2px solid colors.$warning-color;
            }
        }

        &.danger {
            &:hover {
                border-bottom: 2px solid colors.$danger-color;
            }
        }

        &.info {
            &:hover {
                border-bottom: 2px solid colors.$info-color;
            }
        }
    }

    &-text-bordered {
        z-index: 1;
        height: sizes.$btn-text-height;
    }
}


.bt-text.sm {
    font-size: var(--sm-btn-text-font-size);
}

.bt-text.md {
    font-size: var(--md-btn-text-font-size);
}

.bt-text.lg {
    font-size: var(--lg-btn-text-font-size);
}


