@import '@/styles/index';

.sidebar {
    width: $sidebar-width;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &-nav {
        display: flex;
        flex-direction: column;
        padding: $spacing-md;
        align-items: center;

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: $border-radius-md;
            cursor: pointer;
            margin-bottom: $spacing-md;
            position: relative;

            svg {
                fill: var(--color-text-contrast);
                width: $icon-xl;
                height: $icon-xl;
                padding: $spacing-s;
            }

            &.active {
                svg {
                    fill: var(--color-primary);
                }
            }

            &:hover {
                background: var(--color-sidebar-active);

                & .sidebar-nav__item__hint {
                    display: block;
                }

            }

            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &__hint {
                position: absolute;
                background: var(--color-sidebar-active);
                transform: translate(100%, 0);
                padding: $spacing-xs $spacing-sm;
                border-radius: $border-radius-md;
                text-wrap: nowrap;
                right: -1rem;
                display: none;
                transition: $all-ease-slow;

                span {
                    font-size: $font-size-sm;
                    color: var(--color-text-secondary);
                }
            }
        }
    }

    &-footer {
        padding: var(--spacing-md) var(--spacing-lg);
    }
}

@media (max-width: $adaptive-mobile) {
    .sidebar {
        width: 100%;
        position: static;
        height: auto;
    }
}
