@use '@/styles/vars/sizes' as sizes;

.sidebar {
    width: sizes.$sidebar-width;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &-nav {
        display: flex;
        flex-direction: column;
        padding: sizes.$spacing-md;
        align-items: center;

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: sizes.$border-radius-md;
            cursor: pointer;
            margin-bottom: sizes.$spacing-md;
            position: relative;

            svg {
                fill: var(--color-text-contrast);
                width: sizes.$icon-xl;
                height: sizes.$icon-xl;
                padding: sizes.$spacing-s;
            }

            &.active {
                svg {
                    fill: var(--color-primary);
                }
            }

            &:hover {
                background: var(--color-sidebar-active);

                & .sidebar-nav__item__hint {
                    display: block;
                }

            }

            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &__hint {
                position: absolute;
                background: var(--color-sidebar-active);
                transform: translate(100%, 0);
                padding: sizes.$spacing-xs sizes.$spacing-sm;
                border-radius: sizes.$border-radius-md;
                text-wrap: nowrap;
                right: -1rem;
                display: none;
                transition: sizes.$all-ease-slow;

                span {
                    font-size: sizes.$font-size-sm;
                    color: var(--color-text-secondary);
                }
            }
        }
    }

    &-footer {
        padding: sizes.$spacing-md sizes.$spacing-lg;
    }
}
