@import '@/styles/index';

.sidebar {
    width: 5rem;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &-nav {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        align-items: center;

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            cursor: pointer;
            margin-bottom: 1rem;
            position: relative;

            &.active {
                fill: red;
            }

            &:hover {
                background: red;

                & .sidebar-nav__item__hint {
                    display: block;
                }

            }

            &-icon {
                width: 2.2rem;
                height: 2.2rem;
            }

            svg {
                fill: var(--color-text-contrast);
                width: 100%;
                height: 100%;
                padding: .4rem;
            }

            &__hint {
                position: absolute;
                background: red;
                transform: translate(100%, 0);
                padding: $spacing-xs $spacing-sm;
                border-radius: $border-radius-md;
                text-wrap: nowrap;
                right: -1rem;
                display: none;
                transition: all .5s;

                span {
                    font-size: $font-size-sm;
                    color: black;
                }
            }
        }
    }

    &-footer {
        padding: var(--spacing-md) var(--spacing-lg);
    }
}

.logout-icon {
    margin-right: var(--spacing-md);
}
